In [36]:
import pandas as pd
import numpy as np

In [49]:
#create dataframe and add year column
fpath1 = 'C:/Users/Jen/Desktop/DesignLab/all_data_M_2014.xlsx' 
df1 = pd.read_excel(fpath1).query('area==99').reset_index(drop=True)
df1['year'] = '2014'

In [50]:
#append additional year files to dataframe
year_list = ['2015', '2016']

for year in year_list:
    fpath = 'C:/Users/Jen/Desktop/DesignLab/all_data_M_'+year+'.xlsx'
    df2 = pd.read_excel(fpath).query('area==99').reset_index(drop=True)
    df2['year'] = year
    df1 = pd.concat([df1, df2])

In [53]:
df1.shape

(547741, 30)

In [54]:
#list of STEM classified occupation codes

stem_file = 'C:/Users/Jen/Desktop/DesignLab/stem_2021.xlsx'
stem_df = pd.read_excel(stem_file, sheet_name=6, header=4) #contains STEM occupation codes
stem_list = list(stem_df["OEWS May 2021 Code"]) #add occ codes to list

In [55]:
#label job as stem or nonstem in dataframe
def stem_label (row):
    if row['occ code'] in stem_list:
        return 'STEM'
    else:
        return 'nonSTEM'
col = df1.apply(stem_label, axis=1) 
df1 = df1.assign(stem_group=col.values) # assign values to "stem_group" column

In [56]:
df1.head()

,area,area_title,area_type,naics,naics_title,own_code,occ code,occ title,group,tot_emp,...,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,year,stem_group
0,99,U.S.,1,000000,Cross-industry,1235.0,00-0000,All Occupations,total,135128260,...,43.30,18350,22950,35540,57720,90060,,,2014,nonSTEM
1,99,U.S.,1,000000,Cross-industry,1235.0,11-0000,Management Occupations,major,6741640,...,#,46440,67080,97230,141150,#,,,2014,nonSTEM
2,99,U.S.,1,000000,Cross-industry,1235.0,11-1000,Top Executives,minor,2351130,...,#,43570,66270,100910,158980,#,,,2014,nonSTEM
3,99,U.S.,1,000000,Cross-industry,1235.0,11-1010,Chief Executives,broad,246240,...,#,72750,110760,173320,#,#,,,2014,nonSTEM
4,99,U.S.,1,000000,Cross-industry,1235.0,11-1011,Chief Executives,detail,246240,...,#,72750,110760,173320,#,#,,,2014,nonSTEM

In [57]:
df1.stem_group.unique()

array(['nonSTEM', 'STEM'], dtype=object)

In [58]:
df1.to_csv('C:/Users/Jen/Desktop/DesignLab/stem_occupations.csv')